@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

body {
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: #030a21;
 background-image: 
        linear-gradient(to right, rgba(0, 210, 255, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 210, 255, 0.05) 1px, transparent 1px);
      background-size: 40px 40px;
      background-position: center;
}

nav {
 display: flex;
 justify-content: center;
 gap: 50px;
 color: white;
}

.explore {
 display: flex;
 justify-content: center;
 color: white;
 font-size: 30px;
 margin: 0;
 font-family: "Playwrite DK Loopet", cursive;
}

.portfolio {
 display: flex;
 justify-content: center;
 font-size: 100px;
 margin: 0;
 color: #00d2ff;
 text-shadow: 0 0 20px rgba(0, 210, 255, 0.6), 0 0 45px rgba(0, 210, 255, 0.3);
}

nav h4:hover {
 color: #00c6ff;
 cursor: pointer;
}

.profile-container {
  display: flex;
  margin-top: 30px;
  justify-self: center;
    position: relative;
  width: 200px;  /* Match your profile image width */
  height: 200px; 
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Dashed Outer Ring */
.profile-container::after {
  content: "";
  position: absolute;
  top: -12px;   /* Pull out slightly to create spacing */
  left: -12px;
  right: -12px;
  bottom: -12px;
  border: 2px dashed #00d2ff; /* Adjust color and thickness */
  border-radius: 50%;
  pointer-events: none;
  
  /* Optional: Cyan glow effect */
  box-shadow: 0 0 10px rgba(0, 210, 255, 0.4); 
}